body {
  background-color: #000;
  font-family: "Teko", "Zen Maru Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  text-align: center;
  padding: 50px;
  font-size: large;
}

h1 {
  font-size: 2em;
  color: #0ff;
  text-shadow: 0 0 5px #0ffc, 0 0 10px #0ffa, 0 0 30px #0ff9;
}

h2 {
  font-size: 1.5em;
  color: #f0f;
  text-shadow: 0 0 5px #f0f, 0 0 10px #f0fa, 0 0 15px #f0f7;
}

label {
  color: #ff0;
  text-shadow: 0 0 5px #ff0, 0 0 8px #ff0;
}

label:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff;
  cursor: pointer;
  user-select: none;
}

.box_display {
  border: double 7px #f0f;
  margin: 0;
  padding: 5px;
}

@media screen and (max-width: 480px) {
  body{
    font-size: x-small;
    margin: 10px;
  }
}
